<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>   
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div>
        My stupid heart
    </div>
    <div>
        <img src="images/Football.jpg" alt="">
    </div>
    
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Club</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>Robert</th>
                <th>Field-11 Football club</th>
            </tr>
        </tbody>
    </table>
    <!-- <script src="../server.js"></script> -->
</body>
</html>